### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(
    student_data, school_data, how="left", on=["school_name", "school_name"]
)

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# use .groupby to group the data by the schools.
districtSummaryGroup = school_data_complete.groupby("school_name")

# use len to calcualted the total number of schools from the grouped data.
districtSummary_totalSchools = len(districtSummaryGroup)

# Total number of students from the total rows in the DataFrame.
districtSummary_totalStudents = len(school_data_complete["student_name"])

# apply .first() to the group data to read only the first value under the budget section of each school and we summ all those values.
districtSummary_totalBudget = districtSummaryGroup["budget"].first().sum()

# Overall - Average scores.
districtSummary_avgMath = school_data_complete["math_score"].mean()
districtSummary_avgReading = school_data_complete["reading_score"].mean()

# % of students with scores higher than %70 in the disctric
# Math
districtSummary_countPassMath = school_data_complete[
    school_data_complete["math_score"] >= 70
]["math_score"].count()
districtSummary_pctPassMath = (
    districtSummary_countPassMath / districtSummary_totalStudents
) * 100
# Reading
districtSummary_countPassReading = school_data_complete[
    school_data_complete["reading_score"] >= 70
]["reading_score"].count()
districtSummary_pctPassReading = (
    districtSummary_countPassReading / districtSummary_totalStudents
) * 100

# Overall passing grade
districtSummary_overallGrade = (
    districtSummary_pctPassMath + districtSummary_pctPassReading
) / 2

districtSummary_dict = {
    "Total Schools": districtSummary_totalSchools,
    "Total Students": districtSummary_totalStudents,
    "Total Budget": districtSummary_totalBudget,
    "Average Math Score": districtSummary_avgMath,
    "Average Reading Score": districtSummary_avgReading,
    "% Passing Math": districtSummary_pctPassMath,
    "% Passing Reading": districtSummary_pctPassReading,
    "% Overall Passing Rate": districtSummary_overallGrade,
}

# Transform dictionary into a DataFrame and set the index to ' ' to get rid of the default index.
districtSummary_df = pd.DataFrame(districtSummary_dict, index=[""])

# Formatt.
districtSummary_df["Total Students"] = districtSummary_df["Total Students"].map(
    "{:,.0f}".format
)
districtSummary_df["Total Budget"] = districtSummary_df["Total Budget"].map(
    "${:,.2f}".format
)
districtSummary_df["Average Math Score"] = districtSummary_df["Average Math Score"].map(
    "{:,.2f}%".format
)
districtSummary_df["Average Reading Score"] = districtSummary_df[
    "Average Reading Score"
].map("{:,.2f}%".format)
districtSummary_df["% Passing Math"] = districtSummary_df["% Passing Math"].map(
    "{:,.2f}%".format
)
districtSummary_df["% Passing Reading"] = districtSummary_df["% Passing Reading"].map(
    "{:,.2f}%".format
)
districtSummary_df["% Overall Passing Rate"] = districtSummary_df[
    "% Overall Passing Rate"
].map("{:,.2f}%".format)

districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
# Use .groupby to group the data by the schools.
schoolSummaryGroup = school_data_complete.groupby("school_name")

# Use .first() to return the first valuve for each school under the type column.
schoolSummary_type = schoolSummaryGroup["type"].first()

# Find the total number of students by finding the lenght of the DataFrame
schoolSummary_totalStudents = schoolSummaryGroup["student_name"].count()

# Apply .first() to the group data to read only the first value under the budget section of each school
schoolSummary_totalBudget = schoolSummaryGroup["budget"].first()

schoolSummary_budgetPerStudent = schoolSummary_totalBudget / schoolSummary_totalStudents

# Average math and reading scores using .mean()
schoolSummary_avgMath = schoolSummaryGroup["math_score"].mean()
schoolSummary_avgReading = schoolSummaryGroup["reading_score"].mean()

# % of students with scores higher than %70.
# math
# Filter student with scores higher or equal to 70 and then .groupby() the schools name and finally get the count of each of those students.
schoolSummary_countPassMath = (
    school_data_complete[school_data_complete["math_score"] >= 70]
    .groupby("school_name")["student_name"]
    .count()
)
schoolSummary_pctPassMath = (
    schoolSummary_countPassMath / schoolSummary_totalStudents
) * 100
# Reading
# Filter student with scores higher or equal to 70 and then .groupby() the schools name and finally get the count of each of those students.
schoolSummary_countPassReading = (
    school_data_complete[school_data_complete["reading_score"] >= 70]
    .groupby("school_name")["student_name"]
    .count()
)
schoolSummary_pctPassReading = (
    schoolSummary_countPassReading / schoolSummary_totalStudents
) * 100

# Overall passing grade  --> from average scores of % of students passing Math and Reading.
schoolSummary_overallGrade = (
    schoolSummary_pctPassMath + schoolSummary_pctPassReading
) / 2

schoolSummary_dict = {
    "School Type": schoolSummary_type,
    "Total Students": schoolSummary_totalStudents,
    "Total Budget": schoolSummary_totalBudget,
    "Per Student Budget": schoolSummary_budgetPerStudent,
    "Average Math Score": schoolSummary_avgMath,
    "Average Reading Score": schoolSummary_avgReading,
    "% Passing Math": schoolSummary_pctPassMath,
    "% Passing Reading": schoolSummary_pctPassReading,
    "% Overall Passing Rate": schoolSummary_overallGrade,
}

# Create a DataFrame from best to worst schools by using .sort_values of the '% Overall Passing Rate'  and ascending = False
topSchoolSummary_df = pd.DataFrame(schoolSummary_dict).sort_values(
    "% Overall Passing Rate", ascending=False
)

# Format
topSchoolSummary_df["Total Students"] = topSchoolSummary_df["Total Students"].map(
    "{:,.0f}".format
)
topSchoolSummary_df["Total Budget"] = topSchoolSummary_df["Total Budget"].map(
    "${:,.2f}".format
)
topSchoolSummary_df["Per Student Budget"] = topSchoolSummary_df[
    "Per Student Budget"
].map("${:,.2f}".format)
topSchoolSummary_df["Average Math Score"] = topSchoolSummary_df[
    "Average Math Score"
].map("{:,.2f}%".format)
topSchoolSummary_df["Average Reading Score"] = topSchoolSummary_df[
    "Average Reading Score"
].map("{:,.2f}%".format)
topSchoolSummary_df["% Passing Math"] = topSchoolSummary_df["% Passing Math"].map(
    "{:,.2f}%".format
)
topSchoolSummary_df["% Passing Reading"] = topSchoolSummary_df["% Passing Reading"].map(
    "{:,.2f}%".format
)
topSchoolSummary_df["% Overall Passing Rate"] = topSchoolSummary_df[
    "% Overall Passing Rate"
].map("{:,.2f}%".format)

topSchoolSummary_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,95.29%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,95.27%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [4]:
# Create a DataFrame from best to worst schools by using .sort_values of the '% Overall Passing Rate'  and ascending = True
worstSchoolSummary_df = pd.DataFrame(schoolSummary_dict).sort_values(
    "% Overall Passing Rate"
)

# Format
worstSchoolSummary_df["Total Students"] = worstSchoolSummary_df["Total Students"].map(
    "{:,.0f}".format
)
worstSchoolSummary_df["Total Budget"] = worstSchoolSummary_df["Total Budget"].map(
    "${:,.2f}".format
)
worstSchoolSummary_df["Per Student Budget"] = worstSchoolSummary_df[
    "Per Student Budget"
].map("${:,.2f}".format)
worstSchoolSummary_df["Average Math Score"] = worstSchoolSummary_df[
    "Average Math Score"
].map("{:,.2f}%".format)
worstSchoolSummary_df["Average Reading Score"] = worstSchoolSummary_df[
    "Average Reading Score"
].map("{:,.2f}%".format)
worstSchoolSummary_df["% Passing Math"] = worstSchoolSummary_df["% Passing Math"].map(
    "{:,.2f}%".format
)
worstSchoolSummary_df["% Passing Reading"] = worstSchoolSummary_df[
    "% Passing Reading"
].map("{:,.2f}%".format)
worstSchoolSummary_df["% Overall Passing Rate"] = worstSchoolSummary_df[
    "% Overall Passing Rate"
].map("{:,.2f}%".format)

worstSchoolSummary_df.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [5]:
# Math
# Take the original data frame, sort the values for each grade using .loc() and then apply .groupeby() by the school name and apply .mean() to the math scores.
mathScores_grade9 = (
    school_data_complete.loc[school_data_complete["grade"] == "9th", :]
    .groupby("school_name")["math_score"]
    .mean()
)
mathScores_grade10 = (
    school_data_complete.loc[school_data_complete["grade"] == "10th", :]
    .groupby("school_name")["math_score"]
    .mean()
)
mathScores_grade11 = (
    school_data_complete.loc[school_data_complete["grade"] == "11th", :]
    .groupby("school_name")["math_score"]
    .mean()
)
mathScores_grade12 = (
    school_data_complete.loc[school_data_complete["grade"] == "12th", :]
    .groupby("school_name")["math_score"]
    .mean()
)

mathScoresGrade_dict = {
    "9th": mathScores_grade9,
    "10th": mathScores_grade10,
    "11th": mathScores_grade11,
    "12th": mathScores_grade12,
}

mathScoresGrade_df = pd.DataFrame(mathScoresGrade_dict)

# Format.
mathScoresGrade_df["9th"] = mathScoresGrade_df["9th"].map("{:,.2f}%".format)
mathScoresGrade_df["10th"] = mathScoresGrade_df["10th"].map("{:,.2f}%".format)
mathScoresGrade_df["11th"] = mathScoresGrade_df["11th"].map("{:,.2f}%".format)
mathScoresGrade_df["12th"] = mathScoresGrade_df["12th"].map("{:,.2f}%".format)

mathScoresGrade_df

                          9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [6]:
# Reading
# Take the original data frame, sort the values for each grade using .loc() and then apply .groupeby() by the school name and apply .mean() to the reading scores.
readingScores_grade9 = (
    school_data_complete.loc[school_data_complete["grade"] == "9th", :]
    .groupby("school_name")["reading_score"]
    .mean()
)
readingScores_grade10 = (
    school_data_complete.loc[school_data_complete["grade"] == "10th", :]
    .groupby("school_name")["reading_score"]
    .mean()
)
readingScores_grade11 = (
    school_data_complete.loc[school_data_complete["grade"] == "11th", :]
    .groupby("school_name")["reading_score"]
    .mean()
)
readingScores_grade12 = (
    school_data_complete.loc[school_data_complete["grade"] == "12th", :]
    .groupby("school_name")["reading_score"]
    .mean()
)


readingScores_dict = {
    "9th": readingScores_grade9,
    "10th": readingScores_grade10,
    "11th": readingScores_grade11,
    "12th": readingScores_grade12,
}

readingScores_df = pd.DataFrame(readingScores_dict)

# Format.
readingScores_df["9th"] = readingScores_df["9th"].map("{:,.2f}%".format)
readingScores_df["10th"] = readingScores_df["10th"].map("{:,.2f}%".format)
readingScores_df["11th"] = readingScores_df["11th"].map("{:,.2f}%".format)
readingScores_df["12th"] = readingScores_df["12th"].map("{:,.2f}%".format)

readingScores_df

                          9th    10th    11th    12th
school_name
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [7]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]  # <-------change bins
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Create a new dataframe by re using the dictionary of the school summary.
schoolSpending_df = pd.DataFrame(schoolSummary_dict)

# using .cut() each school is classified by the budget per student and the values are added to a new column called spending ranges per student.
schoolSpending_df["Spending Ranges (Per Student)"] = pd.cut(
    schoolSpending_df["Per Student Budget"], spending_bins, labels=group_names
)

# use .groupby() to group the data by 'Spending Ranges (Per Student)'
spendingPerStudentGroup = schoolSpending_df.groupby("Spending Ranges (Per Student)")

# Find the averages of the grouped data using .mean()
spendingPerStudent_avgMath = spendingPerStudentGroup["Average Math Score"].mean()
spendingPerStudent_avgReading = spendingPerStudentGroup["Average Reading Score"].mean()
spendingPerStudent_pctMath = spendingPerStudentGroup["% Passing Math"].mean()
spendingPerStudent_pctReading = spendingPerStudentGroup["% Passing Reading"].mean()
spendingPerStudent_pctOverllPassing = spendingPerStudentGroup[
    "% Overall Passing Rate"
].mean()

spendingPerStudent_dict = {
    "Average Math Score": spendingPerStudent_avgMath,
    "Average Reading Score": spendingPerStudent_avgReading,
    "% Passing Math": spendingPerStudent_pctMath,
    "% Passing Reading": spendingPerStudent_pctReading,
    "% Overall Passing Rate": spendingPerStudent_pctOverllPassing,
}

spendingPerStudent_df = pd.DataFrame(spendingPerStudent_dict)

# Format
spendingPerStudent_df["Average Math Score"] = spendingPerStudent_df[
    "Average Math Score"
].map("{:,.2f}".format)
spendingPerStudent_df["Average Reading Score"] = spendingPerStudent_df[
    "Average Reading Score"
].map("{:,.2f}".format)
spendingPerStudent_df["% Passing Math"] = spendingPerStudent_df["% Passing Math"].map(
    "{:,.2f}%".format
)
spendingPerStudent_df["% Passing Reading"] = spendingPerStudent_df[
    "% Passing Reading"
].map("{:,.2f}%".format)
spendingPerStudent_df["% Overall Passing Rate"] = spendingPerStudent_df[
    "% Overall Passing Rate"
].map("{:,.2f}%".format)

spendingPerStudent_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$615-645,79.08,81.89,75.67%,86.11%,80.89%
$645-675,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [8]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Sames as school by spending but with sizes
sizeOfSchool_df = pd.DataFrame(schoolSummary_dict)

# Apply bins.
sizeOfSchool_df["School Size"] = pd.cut(
    sizeOfSchool_df["Total Students"], size_bins, labels=group_names
)

# .groupby()
schoolSizeGroup = sizeOfSchool_df.groupby("School Size")

# metrics
schoolSize_mathScore = schoolSizeGroup["Average Math Score"].mean()
schoolSize_readingScore = schoolSizeGroup["Average Reading Score"].mean()
schoolSize_pctMath = schoolSizeGroup["% Passing Math"].mean()
schoolSize_pctReading = schoolSizeGroup["% Passing Reading"].mean()
schoolSize_pctOverllPassing = schoolSizeGroup["% Overall Passing Rate"].mean()

schoolSize_dict = {
    "Average Math Score": schoolSize_mathScore,
    "Average Reading Score": schoolSize_readingScore,
    "% Passing Math": schoolSize_pctMath,
    "% Passing Reading": schoolSize_pctReading,
    "% Overall Passing Rate": schoolSize_pctOverllPassing,
}

schoolSize_df = pd.DataFrame(schoolSize_dict)

# Format
schoolSize_df["Average Math Score"] = schoolSize_df["Average Math Score"].map(
    "{:,.2f}".format
)
schoolSize_df["Average Reading Score"] = schoolSize_df["Average Reading Score"].map(
    "{:,.2f}".format
)
schoolSize_df["% Passing Math"] = schoolSize_df["% Passing Math"].map("{:,.2f}%".format)
schoolSize_df["% Passing Reading"] = schoolSize_df["% Passing Reading"].map(
    "{:,.2f}%".format
)
schoolSize_df["% Overall Passing Rate"] = schoolSize_df["% Overall Passing Rate"].map(
    "{:,.2f}%".format
)

schoolSize_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,94.82%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,95.20%
Large (2000-5000),77.75,81.34,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [9]:
# Groupy by school type by re using the sizeOfSchool_df from scores by school size.
schoolTypeGroup = sizeOfSchool_df.groupby("School Type")

# metrics
schoolType_mathScore = schoolTypeGroup["Average Math Score"].mean()
schoolType_readingScore = schoolTypeGroup["Average Reading Score"].mean()
schoolType_pctMath = schoolTypeGroup["% Passing Math"].mean()
schoolType_pctReading = schoolTypeGroup["% Passing Reading"].mean()
schoolType_pctOverllPassing = schoolTypeGroup["% Overall Passing Rate"].mean()

schoolType_dict = {
    "Average Math Score": schoolType_mathScore,
    "Average Reading Score": schoolType_readingScore,
    "% Passing Math": schoolType_pctMath,
    "% Passing Reading": schoolType_pctReading,
    "% Overall Passing Rate": schoolType_pctOverllPassing,
}

schoolType_df = pd.DataFrame(schoolType_dict)

# Format
schoolType_df["Average Math Score"] = schoolType_df["Average Math Score"].map(
    "{:,.2f}".format
)
schoolType_df["Average Reading Score"] = schoolType_df["Average Reading Score"].map(
    "{:,.2f}".format
)
schoolType_df["% Passing Math"] = schoolType_df["% Passing Math"].map("{:,.2f}%".format)
schoolType_df["% Passing Reading"] = schoolType_df["% Passing Reading"].map(
    "{:,.2f}%".format
)
schoolType_df["% Overall Passing Rate"] = schoolType_df["% Overall Passing Rate"].map(
    "{:,.2f}%".format
)

schoolType_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,95.10%
District,76.96,80.97,66.55%,80.80%,73.67%